#topbar{
	background-color: darkred;
	width: 100%;
	height:45px;

}

body {
	margin: 0;
	
	}

.fixedwidth {
	width:850;
	margin: auto;
	
}

.logobar {
	padding: 7px 0px 5px 30px;
	float: left;
	border-right: 1px solid #990000;
	padding-right: 10px;

}
#topmenubar {
	float: left;
	color: white;
}
#topmenubar li{
	list-style-type: none;
	float: left;
	padding: 10px 20px 15px 20px;
	border-right: 1px solid #990000;
	font-weight: bold;
	

}
#topmenubar ul{
	margin:0;
	

}