/*
 * Customizer CSS
 *
 * Adjusts styling for theme option controls in the Customizer
 *
 * @package Gridbox
 */

.customize-control-checkbox {
	margin-bottom: 4px;
}

#customize-control-gridbox_theme_options-site_description {
	margin-bottom: 16px;
}

#customize-control-gridbox_theme_options-blog_title,
#customize-control-gridbox_theme_options-blog_description,
#customize-control-gridbox_theme_options-blog_magazine_widgets_title,
#customize-control-gridbox_theme_options-excerpt_length,
#customize-control-gridbox_theme_options-postmeta_headline,
#customize-control-gridbox_theme_options-single_post_headline,
#customize-control-gridbox_theme_options-featured_images,
#customize-control-gridbox_theme_options-featured_category {
	margin-top: 16px;
}

#customize-control-gridbox_theme_options-sticky_header_title,
#customize-control-gridbox_theme_options-blog_magazine_widgets_title,
#customize-control-gridbox_theme_options-postmeta_headline,
#customize-control-gridbox_theme_options-single_post_headline,
#customize-control-gridbox_theme_options-featured_images {
	margin-bottom: 0;
}

#customize-control-gridbox_theme_options-blog_description textarea {
	height: 5em;
}

#customize-control-gridbox_theme_options-upgrade div {
	margin: 4px 0 32px;
}

#customize-control-gridbox_theme_options-upgrade div .customize-control-title {
	margin-bottom: 4px;
}

#customize-theme-controls [id$=accordion-panel-gridbox_options_panel] .customize-info .customize-help-toggle {
	top: 24px;
	right: 4px;
}

#customize-theme-controls [id$=accordion-panel-gridbox_options_panel] .customize-info .customize-help-toggle::before {
	content: "\f333";
	color: #a0a5aa;
	font-size: 28px;
	padding: 0;
	left: 0;
	top: 0;
}

#customize-theme-controls [id$=accordion-panel-gridbox_options_panel] .customize-info .customize-help-toggle[aria-expanded="true"]::before {
	content: "\f335";
}

#customize-theme-controls [id$=accordion-panel-gridbox_options_panel] .customize-info .customize-help-toggle:hover::before {
	color: #72777c;
}

#customize-theme-controls [id$=accordion-panel-gridbox_options_panel] .customize-info .customize-help-toggle:focus::before {
	box-shadow: none;
}

/* Magazine Widgets Button Controls */
#customize-theme-controls #magazine-widgets-buttons .add-new-widget {
	margin-bottom: 10px;
}

#customize-theme-controls #magazine-widgets-buttons .add-new-magazine-widget::before,
#available-widgets [id*='widget-tpl-gridbox-magazine-'] .widget-title::before {
	content: "\f116";
}

body.adding-widget #magazine-widgets-buttons .add-new-magazine-widget::before,
body.adding-widget.adding-magazine-widget #magazine-widgets-buttons .button.add-new-widget::before {
    transform: rotate(0deg);
}

body.adding-widget #magazine-widgets-buttons .add-new-magazine-widget,
body.adding-widget.adding-magazine-widget #magazine-widgets-buttons .button.add-new-widget {
	background: #f7f7f7;
	border-color: #ccc;
	box-shadow: 0 1px 0 #ccc;
	color: #555;
	cursor: not-allowed;
	opacity: 0.2;
	pointer-events: none;
}

body.adding-widget.adding-magazine-widget #magazine-widgets-buttons .add-new-magazine-widget {
	background: #eee;
	border-color: #929793;
	box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.5) inset;
	color: #32373c;
	cursor: pointer;
	opacity: 1;
	pointer-events: auto;
}

/* Magazine Homepage Available Sections */
.adding-magazine-widget #available-widgets #available-widgets-list > div,
.adding-magazine-widget #available-widgets #available-widgets-filter {
	display: none !important;
	visibility: hidden;
}

.adding-magazine-widget #available-widgets {
	width: 400px;
	left: -401px;
}

.adding-magazine-widget #available-widgets #available-widgets-list {
	top: 0;
	border-top: none;
}

.adding-magazine-widget #available-widgets #available-widgets-list [id*='widget-tpl-gridbox-magazine-'] {
	display: block !important;
	visibility: visible;
}

.adding-magazine-widget #available-widgets .widget-tpl {
	float: left;
	clear: left;
	padding-left: 15px;
	width: 100%;
	box-sizing: border-box;
}

.adding-magazine-widget #available-widgets .widget-tpl .widget-title::before {
	display: none;
}

.adding-magazine-widget #available-widgets .widget-tpl .widget-top::before {
	display: block;
	float: left;
	font-size: 1px;
	content: " ";
	width: 120px;
	height: 75px;
	border: 1px solid #ccc;
	margin: 0 15px 0 0;
}

.adding-magazine-widget #available-widgets [id*='widget-tpl-gridbox-magazine-'] .widget-top::before {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f2f2f2;
}

.adding-magazine-widget #available-widgets [id*='widget-tpl-gridbox-magazine-posts-grid'] .widget-top::before {
	background-image: url( '../images/magazine-grid.png' );
}
