/* ==========================================================================
   Twelve Column Grid
   ========================================================================== */

.grid_12_of_12 { width: 100%; }
.grid_11_of_12 { width: 91.53%; }
.grid_10_of_12 { width: 83.06%; }
.grid_9_of_12  { width: 74.6%; }
.grid_8_of_12  { width: 66.13%; }
.grid_7_of_12  { width: 57.66%; }
.grid_6_of_12  { width: 49.2%; }
.grid_5_of_12  { width: 40.73%; }
.grid_4_of_12  { width: 32.26%; }
.grid_3_of_12  { width: 23.8%; }
.grid_2_of_12  { width: 15.33%; }
.grid_1_of_12  { width: 6.866%; }

.pure-full-width {
	width:100%!important;
}
.pure-clear {
	clear:both;
	width:100%;
}

/*--------------------------------------------------------------
## Responsivity
--------------------------------------------------------------*/
.container {
	width:1170px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	height:100%;
}
.menu-toggle {
display:none!important;
}
.tinynav { display:none; }

ul, ol {
  margin: 0 0 1.5em 0em;
}

/*  Standard Layout: Following the width of the .container style */
@media only screen and (min-width: 992px) and (max-width: 9999px) {
	.content-area{width:70%;padding:0;float:right;display:inline;}
	.widget-area{width:25%;padding:0;float:left;display:inline;}
	.site-footer{width:100%;padding:0;}
}

@media only screen and (max-width: 991px) {
	.hfeed{width:100%;padding:0;}
	.site-header{width:100%;padding:0;}
	.site-main{width:100%;padding:0;}
	.content-area{width:100%;padding:0;}
	.widget-area{width:100%;padding:0;}
	.site-footer{width:100%;padding:0;}
	.tinynav { display:block; }
	.site-description { display:none; }
	.grid_12_of_12 { width: 100%; }
	.grid_11_of_12 { width: 100%; }
	.grid_10_of_12 { width: 100%; }
	.grid_9_of_12  { width: 100%; }
	.grid_8_of_12  { width: 100%; }
	.grid_7_of_12  { width: 100%; }
	.grid_6_of_12  { width: 100%; }
	.grid_5_of_12  { width: 100%; }
	.grid_4_of_12  { width: 100%; }
	.grid_3_of_12  { width: 100%; }
	.grid_2_of_12  { width: 100%; }
	.grid_1_of_12  { width: 100%; }
	.container { width:100%; padding:0 10px;}
	.featured-product-box ul li {display:none;width:100%!important;}
	.featured-product-box ul li:first-child {display:block;}
	.featured-product-box-after ul li {display:none;width:100%!important;}
	.featured-product-box-after ul li:first-child {display:block;}
	.custom-box ul li {display:none;width:100%!important;}
	.custom-box ul li:first-child {display:block;}
	.site-branding  { width:100%; }
	.textright .menu { float:left; }
	.top-menubar { height:100%; }
	.main-navigation {  height: 100%!important;  padding: 5px;  margin: 5px;}
	.main-navigation select { width:95%; padding:3px;font-size:18px;}
	.category-list li { width:100%!important; }
	.header-menubar .container {  overflow: hidden!important;}
	.custom-box .boxed-layout { border:none!important; }
	.main-navigation ul { display:none; }
	.main-navigation { margin-top:0px!important; }
}

/* Defining the width of the entire website */

/* ==========================================================================
   Column & Row Setup
   ========================================================================== */

.col {
	display: block;
	float:left;
	margin: 0 0 0 1.6%;
}

/* Remove the margin on the first column. Works on all browsers incl. IE7+ */
.col:first-child { margin-left: 0!important; }
.col:last-child { margin-right: 0!important; }

.row {
	clear: both;
	margin: 0 auto;
	*zoom: 1;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after { clear: both; }




/* ==========================================================================
   Actual theme Styling
   ========================================================================== */
body {
	background:#fafafa;
}
a, a:hover, a:visited {
	color:#003D5C;
	text-decoration:none;
}  
   
.top-menubar {
	background:#002233;
	height:30px;
	line-height:30px;
	width:100%;
	display:block;
}

.top-menubar ul {
	margin:0;
	padding:0;
}
.top-menubar ul ul {
  margin: 0;
  float: left;
  padding: 0;
}
.textright .menu {
  float: right;
}
.top-menubar ul li {
	display:inline-table;
	margin-right:10px;
	float:left;
}
.top-menubar a {
	color:white;
	font-size:80%;
	text-decoration:none;
}
.textright {
	text-align:right;
}
.main-navigation {
	line-height: 40px;
	margin-top: -60px;
	clear:none;
	text-align:right;
	margin-left:0px;
}
.header-menubar .container {
	overflow:inherit;
}
.main-navigation ul ul a {
	padding-left: 10px;
	text-align: left;
	float: left;
	padding-right: 10px;
	width: 100%;
}
.main-navigation ul ul {
	top:2.5em;
	background:white;
}
.main-navigation ul ul li {
	margin-left: -10px;
	border-right:none;
	min-width:120px;
	border-bottom:1px solid #eee;
	background: white;
}
p.site-description {
  color: #003D5C;
  font-weight: bold;
}
.main-navigation li {
	padding:0 7px;
	border-right:1px solid #ddd;
}
.main-navigation li:last-child {
	border-right:none;
}
.main-navigation a {
	font-size: 18px;

}
.header-menubar {
	min-height:120px;
	border-bottom:1px solid #eee;
	margin-bottom:50px;
	background:white;
	display: flex;
}
.header-menubar ul {
	float:right;
}
h1, h2, h3, h4, h5, h6 {
	color:#003D5C;
}
.widget-area aside ul {
	margin:0;
	padding:0 0 0 20px;
}

.widget-area .widget {
	background:white;
	padding:0px 15px 15px 15px;
	margin-bottom:20px;
	border:1px solid #eee;
	overflow:hidden;
}
.content-area {
	background:white;
	padding:15px;
	margin-bottom:20px;
	border:1px solid #eee;
	overflow:hidden;
}
.site-footer {
	background:white;
	padding:15px;
	margin-bottom:20px;
	border:1px solid #eee;
	font-size:80%;
	overflow:hidden;
}
h1.site-title  {
	font-family:Pacifico, sans-serif;
	margin-left:5px;
}
/* ==========================================================================
   Woocommerce Specific Styling
   ========================================================================== */	
.price { 
	overflow: hidden;
}
.price del {
	width:49%;
	float:left;
}
.price ins {
	width:49%;
	float:right;
}
.custom-box {
	margin-bottom:20px;
}	
.featured-product-box ul li {
	width:48%;
	padding:4px!important;
	float:left;
}
.featured-product-box  img {
	width:48%!important;
}
.featured-product-box-after ul li {
	width:20%;
	padding:4px!important;
	float:left;
}
.featured-product-box-after  img {
	width:100%!important;
}
.feat-prods .textwidget {
	text-align:center;
}
.feat-prods-after .textwidget {
	text-align:center;
}
#front-box .feat-prods {
	background:white;
	padding:0px 15px 15px 15px;
	margin-bottom:20px;
	border:1px solid #eee;
	overflow:hidden;
}
#front-box-after .feat-prods-after {
	background:white;
	padding:0px 15px 15px 15px;
	margin-bottom:20px;
	border:1px solid #eee;
	overflow:hidden;	
}
.product-category-list .product-price {
	min-height:19px;
}
.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt {
	background-color:#003D5C;
}
.woocommerce #respond input#submit.alt:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover {
	background-color:#002233;
}
.woocommerce-message{border-top:3px solid #003D5C;}
.woocommerce input.button.alt{background-color:#003D5C;}
.woocommerce input.button.alt:disabled[disabled]:hover{background-color:#003D5C;}
.widget_search {
	padding:15px!important;
}
.widget_products a {
	font-weight:normal!important;
	color:#000000!important;
}
.widget_top_rated_products a {
	font-weight:normal!important;
	color:#000000!important;
}
.widget_products ul li {
	margin-right:40px!important;
}
.widget_products ul li:last-child {
	margin-right:0px!important;
}

/* Styling the jquery custom woocommerce slider */
.custom-box h3 {
	display:none;
}
.custom-box li {
	list-style:none;
}
.custom-box ul {
	margin:0;
	padding:0;
}
.custom-box {
	margin-bottom: 20px;
	overflow: hidden;
}
.custom-box li img {
	float:right;
	width:50%;
}
.custom-box #description p {
	margin:0 0 0.5em 0;
	font-size:14px;
}
.custom-box li:nth-child(2) img {
	display:none;
	margin-top:-144px;
}
.custom-box li:nth-child(3) img {
	display:none;
	margin-top:-288px;
}
.custom-box li:nth-child(4) img {
	margin-top:-432px;
}
.custom-box .boxed-layout {
	border:1px solid #eee;
	padding: 5px 5px 0px 10px;
	width:48%;
	margin-bottom: 22px;
}	
.custom-box .price-stuff {
	width:40%;
	float:right;
	min-height:24px;
	text-align:right;
}
.custom-box .boxed-layout .product-title {
	float:left;
	width:50%;
	font-weight:700;
}
.quantity input {
  border: 2px solid #003D5C;
  padding: 4px 0px;
  border-radius: 3px;
  color: #003D5C;
  font-weight: bold;
 }
 .product-category-list {
  width: 100%;
  overflow: hidden;
}
ul.category-list {
	margin:0;
	padding:0;
}
.product-content {
  font-size: 13px;
}
.product-content p {
	margin-bottom:0px;
}
.category-list li {
  width: 19.6%;
  display: inline-table;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #DCDCDC;
  margin-bottom: 15px;
  padding: 10px;
  background-color:white;
 }
 .custom-box-container {
  background-color: white;
  padding: 10px;
  border: 1px solid #eee;
  overflow:hidden;
  margin-bottom:15px;
 
}